language: smalltalk
sudo: false

os:
  - linux
  - osx

smalltalk:
  # - Squeak-trunk
  # - Squeak-5.1
  # - Squeak-5.0
  # - Squeak-4.6
  - Squeak-4.5

matrix:
  fast_finish: true
  allow_failures:
    - smalltalk: Squeak-Trunk


install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then curl -s -L -o /tmp/z3.zip https://github.com/Z3Prover/bin/raw/master/releases/z3-4.5.0-x64-osx-10.11.6.zip ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wget -q -O /tmp/z3.zip https://github.com/Z3Prover/bin/raw/master/releases/z3-4.5.0-x64-ubuntu-14.04.zip ; fi
  - unzip /tmp/z3.zip
  - ln -s z3-* z3 || true

script: $SMALLTALK_CI_HOME/run.sh -v

# after_success:
#   -     echo Uploading $BUILDER_CI_HOME/images/*.image
#     cd $PROJECT_HOME
#     echo $PWD
#     cp $BUILDER_CI_HOME/images/*.image BabelsbergS.image
#     cp $BUILDER_CI_HOME/images/*.changes BabelsbergS.changes
#     cp $BUILDER_CI_HOME/sources/*.sources .
#     echo "$VM_PATH/Linux/squeak -nosound -plugins "$VM_PATH/Linux" -encoding Latin1 -nodisplay BabelsbergS.image"
#     $VM_PATH/Linux/squeak -nosound -plugins "$VM_PATH/Linux" -encoding Latin1 -nodisplay BabelsbergS.image tests/build_image.st
#     echo "uploading..."
#     curl -T BabelsbergS.image http://www.lively-kernel.org/babelsberg/BabelsbergS/
#     curl -T BabelsbergS.changes http://www.lively-kernel.org/babelsberg/BabelsbergS/
